flows.json
[{"id":"b68e0ca2.02885","type":"tab","label":"MyFirstApp","disabled":false,"info":""},{"id":"c25ca311.0235d","type":"ibmiot in","z":"b68e0ca2.02885","authentication":"apiKey","apiKey":"24ff79be.eb3996","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"MyDevice2222","applicationId":"","deviceType":"MyFirstDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":40,"wires":[["3eb9832b.f5034c","ffee064b.9db628","cca8e0a8.292bf","9933e323.af84","f7947199.6e39f"]]},{"id":"ffee064b.9db628","type":"debug","z":"b68e0ca2.02885","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":40,"wires":[]},{"id":"3eb9832b.f5034c","type":"function","z":"b68e0ca2.02885","name":"","func":"msg.payload = msg.payload.d.temperature \nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["4628ef6d.19114"]]},{"id":"4628ef6d.19114","type":"ui_gauge","z":"b68e0ca2.02885","name":"","group":"70f1d3a7.b0f05c","order":0,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURE","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":100,"wires":[]},{"id":"cca8e0a8.292bf","type":"function","z":"b68e0ca2.02885","name":"","func":"msg.payload = msg.payload.d.humidity \nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["2f2699a0.9f1c16"]]},{"id":"2f2699a0.9f1c16","type":"ui_gauge","z":"b68e0ca2.02885","name":"","group":"70f1d3a7.b0f05c","order":0,"width":0,"height":0,"gtype":"gage","title":"HUMIDITY","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":160,"wires":[]},{"id":"9933e323.af84","type":"function","z":"b68e0ca2.02885","name":"","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["b94250a6.c0156"]]},{"id":"b94250a6.c0156","type":"ui_gauge","z":"b68e0ca2.02885","name":"","group":"70f1d3a7.b0f05c","order":0,"width":0,"height":0,"gtype":"gage","title":"Object Temperature","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":220,"wires":[]},{"id":"686edebd.7871c","type":"http in","z":"b68e0ca2.02885","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":300,"y":340,"wires":[["2ecf51e9.62295e"]]},{"id":"f7947199.6e39f","type":"function","z":"b68e0ca2.02885","name":"","func":"global.set(\"temperature\",msg.payload.d.temperature)\nglobal.set(\"humidity\",msg.payload.d.humidity)\nglobal.set(\"objectTemp\",msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[[]]},{"id":"2ecf51e9.62295e","type":"function","z":"b68e0ca2.02885","name":"","func":"msg.payload = {\n    \"temperature\":global.get(\"temperature\"),\n    \"humidity\":global.get(\"humidity\"),\n    \"objectTemp\":global.get(\"objectTemp\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["e5b144d4.db9e18"]]},{"id":"e5b144d4.db9e18","type":"http response","z":"b68e0ca2.02885","name":"","statusCode":"","headers":{},"x":710,"y":340,"wires":[]},{"id":"24ff79be.eb3996","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"tffmvl.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"70f1d3a7.b0f05c","type":"ui_group","z":"","name":"IOT","tab":"6ab98182.14617","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ab98182.14617","type":"ui_tab","z":"","name":"ObjectTemp","icon":"dashboard","disabled":false,"hidden":false}]